*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color:rgb(119, 114, 114);
    box-sizing: border-box;
}

.container{
    width:50%;
    height:400px;
    margin:30px auto;
    padding:50px ;
    box-shadow:8px 8px 10px #888888;
    border-radius: 8px;
}
.amd{
    font-size:20px;
}
.centeredHeader{
    text-align:center;
}
p{
    width:280px;
    height:32px;
    border:2px solid rgb(119, 114, 114);
    border-radius: 6px;
    background:rgb(221, 241, 221);
    box-shadow:5px 5px 7px #888888;
    margin:20px 0 0 28px;
}
input{
    box-shadow:2px 2px 5px #888888;
    margin:30px ;
    border-radius: 6px;
}
.resultContainer{
    display:flex;
    justify-content: space-between;
}
button{
  width:160px;
  height:30px;
  background:white;
  font-size: 20px;
  margin-top:24px;
  border-radius:6px;
  cursor:pointer;
  
}
button:hover{
    background:rgb(221, 241, 221);
    color:black;
    transition:0.35;
}
span{
    margin-left:27px;
    margin-top:30px;
    font-size: 20px;
}